page-carrito {
    position: fixed !important;
    bottom: 2vh !important;
    width: 100% !important;

    button{
        margin-top: 3px !important;
    }

    .button-md, .button-wp{
        margin-top: 1rem !important;
    }
}